{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <h1 class="h1">User</h1>

    {% include 'Components/flashes.html.twig' %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Information</h5>
            <p>Identifiant : {{ user.id }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Role :</p>
            <ul>
                {% for role in user.roles %}
                    <li>{{ role }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <h2 class="h3 mt-3">Profils</h2>

    <a href="{{ url('profils_add', {id: user.id}) }}" type="button" class="btn btn-primary color-white mb-3">
        Create a profil for this user
    </a>

    {% if user.profils is not empty %}

    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col" class="table-dark">#</th>
            <th scope="col" class="table-dark">Nom Prénom</th>
            <th scope="col" class="table-dark">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for profil in user.profils %}
            <tr>
                <th scope="row">{{ profil.id }}</th>
                <td>{{ profil.name }} {{ profil.surname }}</td>
                <td>
                    <a href="{{ url('profils_see', {id: profil.id}) }}" type="button" class="btn btn-primary color-white">
                        See
                    </a>
                    <a href="{{ url('profils_update', {id: profil.id}) }}" type="button" class="btn btn-primary color-white">
                        Update
                    </a>
                    <a href="{{ url('profils_delete', {id: profil.id}) }}" type="button" class="btn btn-danger color-white">
                        Remove
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <div class="alert alert-danger">No profil for this user.</div>
    {% endif %}



{% endblock %}
